@layer tailwind {
	@tailwind base;
}
@tailwind components;
@tailwind utilities;

html,
body {
	@apply m-0 min-h-screen bg-slate-900 bg-gradient-to-tr from-[#0e0621] to-[#451ba1] bg-fixed p-0 font-euclid-circular-a text-white scrollbar-none;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@font-face {
	font-family: 'Euclid Circular A';
	font-weight: 300;
	src:
		local('Euclid_Circular_A_Light'),
		url(/fonts/Euclid_Circular_A_Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Euclid Circular A';
	font-weight: 400;
	src:
		local('Euclid_Circular_A_Regular'),
		url(/fonts/Euclid_Circular_A_Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Euclid Circular A';
	font-weight: 500;
	src:
		local('Euclid_Circular_A_Medium'),
		url(/fonts/Euclid_Circular_A_Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Euclid Circular A';
	font-weight: 600;
	src:
		local('Euclid_Circular_A_SemiBold'),
		url(/fonts/Euclid_Circular_A_SemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Euclid Circular A';
	font-weight: 700;
	src:
		local('Euclid_Circular_A_Bold'),
		url(/fonts/Euclid_Circular_A_Bold.ttf) format('truetype');
}
